.mt-5.p-5.border.border-primary.shadow-lg.rounded
  - if flash[:danger]
    .alert.alert-danger= flash[:danger]
  %h3.text-primary New Issue Ticket
  = form_for(:ticket, url: create_path) do |f|
    .form-group
      = f.label :client_name
      = f.text_field :client_name, class: 'form-control'

    .form-group
      = f.label :client_email
      = f.email_field :client_email, class: 'form-control'

    .form-group
      = f.label :ticket_category_id
      = f.collection_select :ticket_category_id, TicketCategory.all, :id, :category_name, {}, {class: 'form-control'}

      = f.hidden_field :ticket_status_id, value: 1

      = f.hidden_field :reference, value: "#{Ticket.generate_reference}"

    .form-group
      = f.label :subject
      = f.text_field :subject, class: 'form-control'

    .form-group
      = f.label :content
      = f.text_area :content, class: 'form-control'

    .form-group
      = f.submit 'Send', class: 'btn btn-primary btn-lg btn-block'
