.row.mt-5
  .col-6
    .card.mb-3.shadow-lg{class: "border-#{@ticket.ticket_status.color}"}
      .card-header
        - if logged_in?
          %small.font-weight-bold= @ticket.reference
        %h4= @ticket.client_name
        .float-right.badge{class: "badge-#{@ticket.ticket_status.color}"}= @ticket.ticket_status&.status_name
        .float-right.badge.badge-dark= @ticket.history.count
        %small.text-muted= time_ago_in_words(@ticket.created_at)
      .card-body
        %small.text-primry= @ticket.ticket_category&.category_name
        %h5.card-title= @ticket.subject
        %p.card-text= @ticket.content
      .card-footer
        = link_to 'Show', ticket_path, class: "btn btn-lg btn-#{@ticket.ticket_status.color}"

  .col-5
    - if !logged_in?
      .card.mb-3.shadow-lg.border-0
        .card-header
          %h3 Update your ticket
          %p You can add new information to your ticket using the form below. All changes will appear in ticket history.
        .card-body
          = form_for(@ticket) do |f|
            .form-group
              = f.hidden_field :ticket_id, value: @ticket.id
              = f.hidden_field :header, value: 'Client update', class: 'form-control'

            .form-group
              = f.label :content
              = f.text_area :content, class: 'form-control', rows: 5
              %small{id: 'contentHelp', class: 'form-text text-muted'} Up to 200 characters

            .form-group
              = f.submit 'Edit', class: "btn btn-#{@ticket.ticket_status.color}"

    - else
      .card.mb-3.shadow-lg.border-0
        .card-header
          %h3 Change status
          %p You can change status of this ticket. Select status
        .card-body
          = form_for(@ticket) do |f|
            .form-group
              = f.hidden_field :id, value: @ticket.id

            .form-group
              = f.label :ticket_status_id
              = f.collection_select :ticket_status_id, TicketStatus.all, :id, :status_name, {}, {class: 'form-control'}

            .form-group
              = f.submit 'Change', class: "btn btn-#{@ticket.ticket_status.color}"
